

.single__product-content {
    padding-left: 50px;
}

.product__price {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.product__price span  {
    font-size: 2rem;
}

.category {
    margin-top: 10px;
    font-weight: 600;
    color: #212245;    
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.category span {
    padding: 5px 10px;
    background: #fde4e4;
    color: #212245;
    border-radius: 5px;
}

.tabs {
    border-bottom: 1px solid #fde4e4;
}

.tabs h6 {
    cursor: pointer;
}

.tab__content {
    padding: 32px 0 0;
}

.tab__content p {
    line-height: 30px;
    color: #212245b6;
    margin-bottom: 0 !important;
}

.tab__active {
    color: #df2020;
}

.tab__form {
    margin-top: 32px;
}

.form {
    width: 60%;
    margin: auto;
    background: #fde4e4;
    padding: 20px;
    border-radius: 7px;
}

.form__group {
    margin-bottom: 30px;
}

.form__group  input,
.form__group  textarea {
    width: 100%;
    background: transparent;
    padding: 7px 20px;
    border: none;
    border-bottom: 1px solid #2122454C;
}

.form__group  input:focus,
.form__group  textarea:focus {
    outline: none;
}

.user__name {
    font-weight: 600;
    color: #212245;
}

.user__email {
    font-size: .8rem;
}

.feedback__text {
    color: #212245b6;
}

.product__images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__item img {
    cursor: pointer;
}

.might__like {
    border-bottom: 2.5px solid #df2020;
    padding-bottom: .5rem;
    display: block;
    max-width: 21%;
    color: #212245;
}

html {
    scroll-behavior: smooth;
  }

  @media (max-width:575.75px) {

    section {
        padding-block: 30px !important;
    }

    .img__item:not(:last-of-type) {
        margin-bottom: .9rem;
        margin-top: 0;
    }

    .img__item {
        display: flex;
        justify-content: center;
    }

    .img__item img {
        width: 50% !important;
    }

    .product__main-img img {
        width: 80% !important;
    }

    .single__product-content {
        margin-top: 2rem;
        padding-left: 0;
        text-align: center;
    }

    .product__title {
        font-size: 1.05rem;
    }

    .product__price {
        justify-content: center;
        font-size: .85rem;
    }

    .product__price span {
        font-size: 1.05rem;
    }

    .category {
        display: flex;
        justify-content: center;
        margin-bottom: 1.35rem !important;
        font-size: .85rem;
    }

    .addToCart__btn {
        font-size: .75rem !important;
    }

    .tabs {
        padding-bottom: .5rem !important;
    }

    .tabs h6 {
        font-size: .85rem;
    }

    .tab__content {
        padding-block: 1rem;
    }

    .tab__content p {
        font-size: .7rem;
        line-height: 25px;
    }

    .form {
        width: 100%;
    }

    .might__like-div {
        margin-top: .25rem !important;
        margin-bottom: .75rem;
    }

    .might__like {
        font-size: 1rem;
        max-width: 165px;
        width: 100%;
        padding-bottom: .25rem;
        font-weight: 600;
    }

  }
  @media (min-width:576px) {

    section {
        padding-block: 40px !important;
    }

    .img__item:not(:last-of-type) {
        margin-bottom: .75rem;
        margin-top: 0;
    }

    .img__item {
        display: flex;
        justify-content: center;
    }

    .img__item img {
        width: 54% !important;
    }

    .product__main-img img {
        width: 85% !important;
    }

    .single__product-content {
        margin-top: 2.2rem;
        padding-left: 0;
        text-align: center;
    }

    .product__title {
        font-size: 1.15rem;
    }

    .product__price {
        justify-content: center;
        font-size: .95rem;
    }

    .product__price span {
        font-size: 1.15rem;
    }

    .category {
        display: flex;
        justify-content: center;
        margin-bottom: 1.35rem !important;
        font-size: .95rem;
    }

    .addToCart__btn {
        font-size: .85rem !important;
    }

    .tabs {
        padding-bottom: .5rem !important;
    }

    .tabs h6 {
        font-size: .95rem;
    }

    .tab__content {
        padding-block: 1rem;
    }

    .tab__content p {
        font-size: .8rem;
        line-height: 27px;
    }

    .form {
        width: 100%;
    }

    .might__like-div {
        margin-top: .3rem !important;
        margin-bottom: .8rem;
    }

    .might__like {
        font-size: 1.15rem;
        width: 190px;
        max-width: 100%;
        padding-bottom: .25rem;
        font-weight: 600;
    }

  }
  @media (min-width:768px) {

    section {
        padding-block: 45px !important;
    }

    .img__item:not(:last-of-type) {
        margin-bottom: .85rem;
        margin-top: 0;
    }
    .img__item {
        display: flex;
        justify-content: left;
    }

    .img__item img {
        width: 60% !important;
    }

    .product__main-img img {
        width: 90% !important;
    }

    .single__product-content {
        padding-left: 1rem;
        text-align: left;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        font-size: 1.05rem;
        justify-content:flex-start;
    }

    .product__price span {
        font-size: 1.25rem;
    }

    .category {
        margin-bottom: 1.4rem !important;
        font-size: 1rem;
        justify-content: flex-start;
    }

    .addToCart__btn {
        font-size: .9rem !important;
    }

    .tabs {
        padding-bottom: .5rem !important;
    }

    .tabs h6 {
        font-size: 1.05rem;
        padding-top: .7rem;
    }

    .tab__content {
        padding-block: 1rem;
    }

    .tab__content p {
        font-size: .85rem;
        line-height: 29px;
    }

    .form {
        width: 100%;
    }

    .might__like-div {
        margin-top: .3rem !important;
        margin-bottom: .8rem;
    }

    .might__like {
        font-size: 1.3rem;
        width: 215px;
        padding-bottom: .3rem;
        font-weight: 600;
    }

  }
  @media (min-width:992px) {

    section {
        padding-block: 50px !important;
    }

    .img__item:not(:last-of-type) {
        margin-bottom: .8rem;
    }

    .img__item img {
        width: 61% !important;
    }

    .product__main-img img {
        width: 95% !important;
    }

    .single__product-content {
        padding-left: 1.1rem;
    }

    .product__title {
        font-size: 1.35rem;
    }

    .product__price {
        font-size: 1.15rem;
    }

    .product__price span {
        font-size: 1.35rem;
    }

    .category {
        margin-bottom: 1.5rem !important;
        font-size: 1.1rem;
    }

    .addToCart__btn {
        font-size: 1rem !important;
    }

    .tabs {
        padding-bottom: .6rem !important;
    }

    .tabs h6 {
        font-size: 1.1rem;
        padding-top: .8rem;
    }

    .tab__content {
        padding-block: 1.1rem;
    }

    .tab__content p {
        font-size: .95rem;
        line-height: 30px;
    }

    .form {
        width: 80%;
        margin-left: 0;
    }

    .might__like-div {
        margin-top: .4rem !important;
        margin-bottom: .9rem;
    }

    .might__like {
        font-size: 1.6rem;
        width: 263px;
        padding-bottom: .4rem;
        margin-top: 20px;
    }

  }


  @media (min-width:1200px) {


    section {
        padding-block: 50px !important;
    }

    .img__item:not(:last-of-type) {
        margin-bottom: .8rem;
    }

    .img__item img {
        width: 61% !important;
    }

    .product__main-img img {
        width: 95% !important;
    }

    .single__product-content {
        padding-left: 1.1rem;
    }

    .product__title {
        font-size: 1.35rem;
    }

    .product__price {
        font-size: 1.15rem;
    }

    .product__price span {
        font-size: 1.35rem;
    }

    .category {
        margin-bottom: 1.5rem !important;
        font-size: 1.1rem;
    }

    .addToCart__btn {
        font-size: 1rem !important;
    }

    .tabs {
        padding-bottom: .6rem !important;
    }

    .tabs h6 {
        font-size: 1.1rem;
        padding-top: .8rem;
    }

    .tab__content {
        padding-block: 1.1rem;
    }

    .tab__content p {
        font-size: .95rem;
        line-height: 30px;
    }

    .form {
        width: 65%;
        margin-left: 0;
    }

    .might__like-div {
        margin-top: .4rem !important;
        margin-bottom: .9rem;
    }


  }